@import "variables";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "bootstrap/scss/bootstrap";
@import "custom_styles";
@import "custom_modal";
@import "custom_select2";
@import "custom_toggle_switch";
@import "menu";
